<div>
  <div class="hero-wrapper">
    <div class='hero--dark-wrapper'>
      <h1 class='agot-title'>
        Find the best Instagram hashtags
      </h1>

      <div class='hero-list'>
        <p>
          Your Instagram account probably has some amazing shots, right? Now you can get them noticed by thousands of other instagrammers. Sign up and let our intelligent filter find you the best hashtags. Get free trending superpowers by discovering which tags work best for your photos!
        </p>

        <p style='text-align: center; margin-top: 25px;'>
          Psst... this is a beta version. Things may break. Hopefully they won't, but if they do please let us know :)
        </p>
      </div>

      <div class='hero-cta-wrapper'>
        <%= button_to '/auth/instagram', class: 'hero-cta' do %>
          <span class="nav-icon icon-instagram"></span>
          <span class='link-text'>SIGN IN WITH INSTAGRAM</span>
        <% end %>
      </div>
    </div>
  </div>

  <div class='benefit-wrapper'>
    <div class='agot-tags-examples-wrapper'>
      <div class='agot-tags-examples-description'>
        <h3 class='agot-tags-header-first'>
          No funny business
        </h3>

        <div class='section-descriptor-first'>
          We've created a clean, simple interface to help you find the best hashtags. No adverts, no spam, no distractions.
        </div>
      </div>

      <div class='agot-tags-examples-container'>
        <%= link_to 'https://www.instagram.com/explore/tags/moodygrams/', class: 'hero-tag-link' do %>
          <span class='example-tag'>
            #moodygrams
          </span>
        <% end %>

        <%= link_to 'https://www.instagram.com/explore/tags/illgrammers/', class: 'hero-tag-link' do %>
          <span class='example-tag'>
            #illgrammers
          </span>
        <% end %>

        <%= link_to 'https://www.instagram.com/explore/tags/way2ill/', class: 'hero-tag-link' do %>
          <span class='example-tag'>
            #way2ill
          </span>
        <% end %>

        <%= link_to 'https://www.instagram.com/explore/tags/thecoolmagazine/', class: 'hero-tag-link' do %>
          <span class='example-tag'>
            #thecoolmagazine
          </span>
        <% end %>

        <%= link_to 'https://www.instagram.com/explore/tags/businesswoman/', class: 'hero-tag-link' do %>
          <span class='example-tag'>
            #businesswoman
          </span>
        <% end %>

        <%= link_to 'https://www.instagram.com/explore/tags/entrepreneurship/', class: 'hero-tag-link' do %>
          <span class='example-tag'>
            #entrepreneurship
          </span>
        <% end %>

        <%= link_to 'https://www.instagram.com/explore/tags/vscocam/', class: 'hero-tag-link' do %>
          <span class='example-tag'>
            #vscocam
          </span>
        <% end %>

        <%= link_to 'https://www.instagram.com/explore/tags/portraits/', class: 'hero-tag-link' do %>
          <span class='example-tag'>
            #portraits
          </span>
        <% end %>

        <%= link_to 'https://www.instagram.com/explore/tags/xelfies/', class: 'hero-tag-link' do %>
          <span class='example-tag'>
            #xelfies
          </span>
        <% end %>

        <%= link_to 'https://www.instagram.com/explore/tags/lookslikefilm/', class: 'hero-tag-link' do %>
          <span class='example-tag'>
            #lookslikefilm
          </span>
        <% end %>

        <%= link_to 'https://www.instagram.com/explore/tags/streetfashion/', class: 'hero-tag-link' do %>
          <span class='example-tag'>
            #streetfashion
          </span>
        <% end %>

        <%= link_to 'https://www.instagram.com/explore/tags/chasingemotions/', class: 'hero-tag-link' do %>
          <span class='example-tag'>
            #chasingemotions
          </span>
        <% end %>
      </div>
    </div>
  </div>

  <div class='agot-benefits'>
    <h1 class='agot-benefits-header'>
      But aren't hashtags just so 2012?
    </h1>

    <div class='section-descriptor'>
      Not at all. Hashtags are still the best way to find photos on Instagram. They're also the best way to get your photos discovered.
    </div>

    <div class='agot-benefits-list'>
      <div class='agot-benefits-list--item'>
        <i class='icon-benefit icon-check'></i>
        Hashtags organize and categorize images. This helps get your content discovered.
      </div>

      <div class='agot-benefits-list--item'>
        <i class='icon-benefit icon-check'></i>
        Your hashtags are published when people share your images on Facebook.
      </div>

      <div class='agot-benefits-list--item'>
        <i class='icon-benefit icon-check'></i>
        Get your content in front of all searches for specific keywords and phrases.
      </div>

      <div class='agot-benefits-list--item'>
        <i class='icon-benefit icon-check'></i>
        Find conversations and campaigns that your audiences participate in.
      </div>

      <div class='agot-benefits-list--item'>
        <i class='icon-benefit icon-check'></i>
        Discover what tags are related to your brand's unique hashtags.
      </div>

      <div class='agot-benefits-list--item'>
        <i class='icon-benefit icon-check'></i>
        Find Instagram influencers for your brand by uncovering your hashtag network.
      </div>

      <div class='agot-benefits-list--item'>
        <i class='icon-benefit icon-check'></i>
        Hashtags can help you discover tangential audiences.
      </div>

      <div class='agot-benefits-list--item'>
        <i class='icon-benefit icon-check'></i>
        People are already using hashtags when searching within Instagram.
      </div>

      <div class='agot-benefits-list--item'>
        <i class='icon-benefit icon-check'></i>
        Hashtags expand the reach of your Instagram photos beyond just your followers.
      </div>
    </div>
  </div>

  <div class='benefit-wrapper'>
    <h1 class='agot-benefits-header'>
      What makes this website different?
    </h1>

    <div class='section-descriptor'>
      Other than being so much prettier than those other hashtag finding websites, what should you expect from A Game of Tags?
    </div>

    <div class='benefits-section'>
      <div class='benefits-row'>
        <div class="benefit-wrap">
          <%= image_tag 'lab.png', class: 'benefit-icon-large' %>

          <div>
            <h3>
              Find thematic tags
            </h3>

            <p class='benefits-paragraph'>
              We don't just look for the most popular hashtags. We fetch hashtags on an image-by-image basis to provide the best possible results.
            </p>
          </div>
        </div>

        <div class="benefit-wrap">
          <%= image_tag 'issues.png', class: 'benefit-icon-large' %>

          <div>
            <h3>
              Start collecting hashtags
            </h3>

            <p class='benefits-paragraph'>
              Throw away that pocket notebook because our users get to access every hashtag they've ever researched.
            </p>
          </div>
        </div>

        <div class="benefit-wrap">
          <%= image_tag 'diary.png', class: 'benefit-icon-large' %>

          <div>
            <h3>
              Saved searches
            </h3>

            <p class='benefits-paragraph'>
              You get access to all of your old searches so that you can build yourself a library of hashtag groups.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>